<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Index Page</title>
  </head>

  <body>

<%- include("./partials/header.ejs", fullName ? { fullName } : {}) %>


    <hr />

    <% if (!messages || messages.length === 0) { %>
      <h2>No Messages Stored</h2>
    <% } else { %>
      <% messages.forEach((message) => { %>
      <%- include('./partials/message', { 
        message: message, 
        isAuthenticated: isAuthenticated,
        memberShipStatus:memberShipStatus,
        userId:userId,
      }) %>
      <% }) %>
    <% } %>

  </body>
</html>