<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sign Up</title>
  </head>
  <body>
    <form action="/sign-up" method="POST">
      <label for="firstName">First Name:</label>
      <input type="text" placeholder="John" id="firstName" name="firstName" required />
      <label for="lastName">Last Name:</label>
      <input type="text" placeholder="Doe" id="lastName" name="lastName" required />
      <label for="username">Username:</label>
      <input type="email" placeholder="abc@email.com" id="username" name="username" required />
      <label for="password">Password:</label>
      <input type="password" placeholder="****" id="password" name="password" required />
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" placeholder="****" id="confirmPassword" name="confirmPassword" required />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
