<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Update Membership</title>
  </head>
  <body>
<%- include("./partials/header.ejs", fullName ? { fullName } : {}) %>
    <form action="/update-membership" method="POST">
      <label for="answer"
        >I speak without a mouth and hear without ears. What am I?</label
      >
      <input type="text" id="answer" name="answer" required />
      <button type="submit">Be a Elite</button>
    </form>
  </body>
</html>
